
---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Privacy Policy</h1>
			<p>
	Last Updated: [03.28.2025]
	Your privacy is important to us. This Privacy Policy explains how we collect, use, and protect your data.
	1. Data We Collect
		We may collect TikTok account information when you log in.
		Uploaded videos may be processed on our servers.
	2. How We Use Your Data
		We use your TikTok data solely to provide automated video uploads.
		We do not share your personal data with third parties.
	3. Security
		We take reasonable steps to protect your data but cannot guarantee absolute security.
	4. Contact
		If you have questions about this policy, contact us at nobotechannel@gmail.com

			</p>
		</main>
		<Footer />
	</body>
</html>
