---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Terms of Service</h1>
			<p>
	Last Updated: [03.26.2025]
	Welcome to PostByAuto. By using our services, you agree to these Terms of Service. If you do not agree, please do not use our service.
	1. Use of Our Services
		You must be at least 13 years old to use our app.
		You agree not to use our app for any illegal or unauthorized purposes.
	2. Content and Copyright
		You are responsible for any content uploaded using our service.
		We do not claim ownership over the videos uploaded to TikTok via our platform.
	3. Termination
		We reserve the right to terminate or suspend access to our service at any time for violating these terms.
	4. Disclaimer
		Our app is provided "as is," without any warranties of any kind. We are not responsible for any issues arising from using our service.
		If you have any questions, contact us at nobotechannel@gmail.com
			</p>
		</main>
		<Footer />
	</body>
</html>
